html,
body {
  height: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none;
}
.st0 {
  fill: #f6dfc9;
}

.st1 {
  fill: #a0c6e8;
}

.st2 {
  fill: #fffccc;
}

.st3 {
  fill: none;
}

svg {
  enable-background: "new 0 0 1920 1080";
  display: "block";
}

.text-center {
  text-align: center;
}
